<h1 id="welcome">Welcome, <%= @user.username %>!</h1>

<p>Click <a href="/projects/new" id="link-blue">here</a> to submit your project!</p>

<h1 id="top-h2">Your Projects</h2>

<% if @projects.count == 0 %>
    <p class="caption border">Submit a project to fill this space up!</p>
<% else %>
    <div class="projects border">
        <% @projects.each do |project| %>
            <div class="project">
                <h2 id="project-title"><a href="/projects/<%= project.slug %>"><%= project.title %></a> </h2>
                <div class="video">
                    <iframe src="<%= project.video_url %>" width="640" height="400" frameborder="0" allowfullscreen></iframe>
                </div>
                <p> <%= project.category %> </p>
                <p id="description"> <%= project.description %> </p>
                <p><a href="<%= project.github %>" id="link-blue">GitHub Repo</a> </p>
                <p><a href="<%= project.external_uri %>" id="link-blue">Project URL</a> </p>
            </div>
        <% end %>
    </div>
<% end %>