<h1 id="welcome">Welcome, <%= @user.username %>!</h1>

<p>Click <a href="/projects/new" id="link-blue">here</a> to submit your project!</p>

<h1 id="top-h2">Your Projects</h2>

<% if !@projects %>
    <p>Oops! We're still working to get more users on board! Please bear with us.</p>
<% else %>
    <div class="projects">
        <% @projects.each do |project| %>
            <div class="project">
                <h2 id="project-title"><a href="/projects/<%= project.id %>"><%= project.title %></a> </h2>
                <div class="video">
                    <iframe src="<%= project.video_url %>" width="640" height="400" frameborder="0" allowfullscreen></iframe>
                </div>
                <p> <%= project.category %> </p>
                <p id="description"> <%= project.description %> </p>
                <p><a href="<%= project.github %>" id="link-blue">GitHub Repo</a> </p>
                <p><a href="<%= project.external_uri %>" id="link-blue">Project URL</a> </p>
                <p>Made by  <em><a href="/users/<%= project.user.slug %>" id="link-blue"><%= project.user.username %></a></em ></p>
            </div>
        <% end %>
    </div>
<% end %>

<p><button><a href="/logout">Log Out</a></button></p>
