<div class="project">
  <p>Project Title: <%= @project.title %> </p>
  <div class="video">
    <iframe src="<%= @project.video_url %>" width="640" height="400" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>Category: <%= @project.category %> </p>
  <p>Description: <%= @project.description %> </p>
  <p>GitHub Repo: <a href="<%= @project.github %>" id="link-blue"><%= @project.github %></a> </p>
  <p>Project URL: <a href="<%= @project.external_uri %>" id="link-blue"><%= @project.external_uri %></a> </p>
  <p>Made by <a href="/users/<%= @project.user.slug %>" id="link-blue"><%= @project.user.username %></a> </p>
</div>

<% if @user == @project.user %>
  <button class="center"><a href="/projects/<%= @project.id %>/edit">Edit Project </a></button>

  <form method="POST" action="/projects/<%= @project.id %>/delete" class="form">

    <input name="_method" type="hidden" value="DELETE">
    <input type="submit" id="submit" value="Delete Project">

  </form>
<% else %>
  <% nil %>
<% end %>
