<p>Project Title: <%= @project.title %> </p>
<p>Category: <%= @project.category %> </p>
<p>Description: <%= @project.description %> </p>
<p>GitHub Repo: <a href="<%= @project.github %>"><%= @project.github %></a> </p>
<p>External Link: <a href="<%= @project.external_uri %>"><%= @project.external_uri %></a> </p>
<p>Made by <%= @project.user.username %> </p>

<form method="POST" action="/projects/<%= @project.id %>/delete">

  <input name="_method" type="hidden" value="DELETE">
  <input type="submit" id="submit" value="Delete Project">

</form>

<a href="/projects/<%= @project.id %>/edit">Edit Project </a>
