<div class="projects">

    <% @projects.each do |project| %>
        <div class="project <%= project.category %>">
            <h2 id="project-title"> <a href="/projects/<%= project.slug %>"><%= project.title %></a> </h2>
            <div class="video">
                <iframe src="<%= project.video_url %>" width="640" height="400" frameborder="0" allowfullscreen></iframe>
            </div>
            <p id="brand-1"></p>
            <p id="description"> <%= project.description %> </p>
            <p>— made by  <em><a href="/users/<%= project.user.slug %>" id="link-blue"><%= project.user.username %></a></em > | <%= project.category %></p>
        </div>
    <% end %>

</div>